{
	"$schema": "https://swc.rs/schema.json",
	"jsc": {
		"baseUrl": "./",
		"paths": {
			"@database/*": ["src/database/*"],
			"@exceptions/*": ["src/exceptions/*"],
			"@plugins/*": ["src/plugins/*"],
			"@routes/*": ["src/routes/*"],
			"@services/*": ["src/services/*"],
			"@shared/*": ["src/shared/*"],
			"#types/*": ["src/types/*"],
			"@utils/*": ["src/utils/*"]
		},
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"dynamicImport": false,
			"decorators": false
		},
		"target": "esnext"
	},
	"module": {
		"type": "commonjs"
	}
}
